doctype
html(lang='en')
	head
		title Starter Kit
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, inital-scale=1")
			
		//Stylesheets
		link(rel="stylesheet", href="assets/css/main.css", type="text/css")
		link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", type="text/css")

	body

		header
			div.container
				.row
					.col-md-12.text-center
						h3 This is a Starter Kit for JMW




		
		//Scripts
		script(src="assets/js/functions.js")
		script(src="assets/js/jquery-2.2.0.min.js") 